.header {
    display: flex;
    width: 100%;
    &__left-col {
        flex: 0 0 69%;
        background-image: url("../images/chears1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &__logo {
        margin: 5% 0 0 15%;
    }
    &__right-col {
        flex: 0 0 31%;
        background-color: #7acec3;
    }
    &__btn {
        position: relative;
        width: 25%;
        margin: 10% auto 0;
    }
    &__address {
        position: absolute;
        top: 50%;
        left: 15%;
        color: #fff;
    }
    &__contacts {
        position: absolute;
        bottom: 20%;
        left: 33%;
        color: #fff;
    }
}

.burger-btn {
    border: 4px solid #fff;
    .liquid__wrapper_btn {
        padding-bottom: 100%;
    }
    &__line,
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        width: 32%;
        height: 3px;
        transform: translate(-50%);
        background-color: #fff; 
    }
    &__line {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        top: 43%;
    }
    &::after {
        bottom: 43%;  
    }
}