//________________________________________________________>900px________________________________________________________
@media (min-width: 2400px) {
    html {
        font-size: 22px;
    }
}
@media (min-width: 3000px) {
    html {
        font-size: 28px;
    }
}
@media (min-width: 3700px) {
    html {
        font-size: 34px;
    }
}
@media (max-width: 1800px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 8px;
    }
}
//________________________________________________________<900px________________________________________________________
@media (max-width: 900px) {
    //________________________styles________________________
    html {
        font-size: 10px;
    }
    .liquid {
        &__wrapper_title {
            padding-bottom: 10%;
        }
    }
    .title {
        background-image: none;
        flex: 0 0 100%;
        &__name {
            top: 50%;
            bottom: auto;
            right: 2%;
            left: auto;
            transform: translate(0, -50%);
            font-size: 5rem;
        }
    }
    .tablo {
        flex: 0 0 100%;
        padding: 5% 5% 0;
    }
    //________________________header________________________
    .header {
        flex-wrap: wrap;
        &__right-col {
            flex: 0 0 100%;
            order: 1;
            margin-top: -10%;
        }
        &__btn {
            position: absolute;
            right: 2%;
            top: 120%;
            width: 70px;
            margin: 0;
        }
        &__address {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__left-col {
            flex: 0 0 100%;
            height: 400px;
            background-position: 50% 50%;
            order: 2;
        }
        &__logo {
            margin: 7% 0 0 10%;
        }
    }
    .burger-btn {
        border: 2px solid #7acec3;
        &__line,
        &::before,
        &::after {
            height: 2px;
            background-color: #7acec3;
        }
        &:hover {
            background-color: rgb(122, 206, 195, 0.2);
        }
    }
    //________________________main________________________
    .projects {
        flex-direction: column;
        &__block2 {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__item {
            height: 300px;
        }
        .projects__item_title {
            height: auto;
        }
        &__item_fondue {
            flex: 0 0 60%;
            order: 1;
        }
        &__item_louis-xx {
            flex: 0 0 40%;
            order: 2;
        }
        .liquid__wrapper_louis-xx {
            padding-bottom: 300px;
        }
        &__item_alessi {
            flex: 0 0 25%;
            order: 3;
        }
        .liquid__wrapper_alessi {
            padding-bottom: 300px;
        }
        &__item_395-396-p22 {
            flex: 0 0 75%;
            order: 4;
        }
        &__item_sesann {
            flex: 0 0 100%;
            order: 5;
        }
        &__item_tabano {
            flex: 0 0 40%;
            order: 1;
            background-size: 116%;
            background-position: 0 30%;
        }
        &__item_potter {
            flex: 0 0 60%;
            order: 2;
        }
        &__item_fiji {
            flex: 0 0 75%;
            order: 3;
        }
        &__item_timeline {
            flex: 0 0 25%;
            order: 4;
            background-image: none;
        }
    }
    .filter-block_title {
        top: 50%;
        left: 2%;
        transform: translate(0, -50%);
    }
    .filter-block_timeline {
        top: 15%;
        left: 15%;
    }
    .card_fondue {
        .card__description_fondue {
            margin-bottom: 18%;
        }
        .card__link_fondue {
            margin-bottom: 25%;
        }
    }
    .card_louis-xx {
        left: 15%;
    }
    .card_395-396-p22 {
        top: 13%;
        height: 35%;
    }
    .card_sesann {
        bottom: 8%;
        .card__title_sesann {
            flex: 0 0 auto;
        }
    }
    .card_potter {
        .card__description_potter {
            margin-bottom: 15%;
        }
        .card__link_potter {
            margin-bottom: 20%;
        }
    }
    .card_fiji {
        top: 20%;
        left: 65%;
        .card__description_fiji {
            margin-bottom: 20%;
        }
        .card__link_fiji {
            margin-bottom: 30%;
        }
    }
    //________________________studio________________________
    .studio {
        &__designers {
            flex-wrap: wrap;
            padding: 0 5%;
        }
        &__designers-description {
            flex: 0 0 31%;
            margin: 0 50% 30px 0;
        }
        &__designer {
            flex: 0 0 31%;
        }
    }
    //________________________news________________________
    .news {
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    //________________________footer________________________
    .footer {
        &__info-block {
            left: 15%;
        }
        &__logo {
            right: 15%;
        }
        &__license {
            left: 15%;
        }
    }
}
//________________________________________________________<700px________________________________________________________
@media (max-width: 700px) {
    //________________________styles________________________
    html {
        font-size: 9px;
    }
    .logo-block {
        width: 20%;
    }
    .liquid {
        &__wrapper_title {
            padding-bottom: 12%;
        }
    }
    .tablo {
        flex-direction: column;
    }
    //________________________header________________________
    .header {
        &__right-col {
            margin-top: -12%;
        }
        &__left-col {
            background-position: 70% 50%;
        }
    }
    //________________________main________________________
    .projects {
        &__item_fondue {
            flex: 0 0 100%;
            background-position: 50% 55%;
        }
        &__item_louis-xx {
            flex: 0 0 100%;
            background-position: 50% 65%;
        }
        &__item_alessi {
            flex: 0 0 100%;
        }
        &__item_395-396-p22 {
            flex: 0 0 100%;
        }
        &__item_tabano {
            flex: 0 0 100%;
            background-size: 100%;
            background-position: 50% 20%;
        }
        &__item_potter {
            flex: 0 0 100%;
            background-position: 70% 50%;
        }
        &__item_fiji {
            flex: 0 0 100%;
            background-position: 20% 50%;
        }
        &__item_timeline {
            flex: 0 0 100%;
            height: 120px;
            margin-bottom: 5%;
        }
    }
    .card {
        &__title {
            font-size: 3rem;
        }
        &__description {
            font-size: 1.2rem;
        }
        &__link {
            font-size: 1.8rem;
        }
        &__likes {
            width: 5vw;
        }
        &__amount {
            font-size: 1.2rem;
        }
    }
    .card_fondue {
        top: 12%;
        left: 10%;
        .card__description_fondue {
            margin-bottom: 15%;
        }
        .card__link_fondue {
            margin-bottom: 15%;
        }
    }
    .card_louis-xx {
        flex-wrap: wrap;
        top: 15%;
        width: 50%;
        height: 40%;
        .card__description_louis-xx {
            margin-bottom: 0;
        }
        .card__link_louis-xx {
            margin-bottom: 10%;
        }
    }
    .card_alessi {
        top: 15%;
        right: 10%;
        left: auto;
        width: 20%;
        .card__description_alessi {
            margin-bottom: 20%;
        }
        .card__link_alessi {
            margin-bottom: 20%;
        }
    }
    .card_395-396-p22 {
        top: 10%;
    }
    .card_sesann {
        left: 10%;
        width: 80%;
    }
    .card_tabano {
        flex-wrap: nowrap;
        flex-direction: column;
        top: 5%;
        bottom: auto;
        left: 6%;
        width: 80%;
        .card__description_tabano {
            margin-bottom: 3%;
        }
        .card__link_tabano {
            margin-bottom: 8%;
        }
    }
    .card_potter {
        left: 6%;
        .card__description_potter {
            margin-bottom: 10%;
        }
        .card__link_potter {
            margin-bottom: 15%;
        }
    }
    .card_fiji {
        top: 15%;
        .card__link_fiji {
            margin-bottom: 20%;
        }
    }
    //________________________studio________________________
    .studio {
        &__description {
            flex: 0 0 auto;
            margin-bottom: 5%;
        }
        &__preview-photo {
            margin-bottom: 5%;
        }
        &__designers-description {
            flex: 0 0 47%;
            margin: 0 0 30px 0;
        }
        &__designer {
            flex: 0 0 47%;
        }
    }
    .awards {
        margin-bottom: 10%;
        &__title {
            margin-bottom: 3%;
        }
    }
    //________________________news________________________
    .block-news {
        border: 1px solid #000;
    }
    //________________________footer________________________
    .footer {
        flex-direction: column;
        &__map {
            order: 2;
        }
        &__info {
            order: 1;
        }
    }
    .liquid__wrapper_map {
        padding-bottom: 60%;
    }
}
