@media (min-width: 2400px) {
    html {
        font-size: 22px;
    }
}
@media (min-width: 3000px) {
    html {
        font-size: 28px;
    }
}
@media (min-width: 3700px) {
    html {
        font-size: 34px;
    }
}
@media (max-width: 1800px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 7px;
    }
}
