.news {
    display: flex;
    &__title {
        flex: 0 0 31%;
        background-color: #d4edbf;
    }
}
.block-news {
    display: flex;
    flex: 0 0 48%;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        flex: 0 0 16%;
        font-size: 1.8rem;
    }
    &__date {
        color: #6a6969;
    }
    &__preview {
        margin: 5% 0;
    }
    &__text {
        flex: 0 0 18%;
        color: #6a6969;
        text-transform: none;
    }
    &__link {
        display: inline-block;
        align-self: flex-end;
        width: 50%;
        text-align: right;
        color: #fd5000;
        transition: 200ms;
    }
    &__link:hover {
        font-weight: bold;
    }
    &__link::before {
        content: '🡢';
        margin-right: 4%;
        color: transparent;
        transition: 200ms;
    }
    &__link:hover::before {
        color: #fd5000;
    }
}
