.news {
    display: flex;
    &__title {
        flex: 0 0 31%;
        background-color: #d4edbf;
    }
}
.block-news {
    flex: 0 0 48%;
    &__title {
        height: 5rem;
        font-size: 1.8rem;
    }
    &__date {
        color: #6a6969;
    }
    &__preview {
        margin: 5% 0;
    }
    &__text {
        height: 6rem;
        color: #6a6969;
        text-transform: none;
    }
    &__link {
        display: block;
        max-width: 6.5rem;
        text-align: right;
        margin-left: auto;
        color: #fd5000;
        transition: 200ms;
    }
    &__link:hover {
        font-weight: bold;
    }
    &__link::before {
        content: '🡢';
        margin-right: 4%;
        color: transparent;
        transition: 200ms;
    }
    &__link:hover::before {
        color: #fd5000;
    }
}