.studio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 6%;
    &__title {
        flex: 0 0 31%;
        background-color: #ff9b6d;
    }
    &__description {
        flex: 0 0 48%;
        text-transform: none;
        font-size: 1.3rem;
    }
    &__description p {
        margin-bottom: 3%;
    }
    &__description p:nth-child(2) {
        margin-bottom: 8%;
    }
    &__description p:not(.bold) {
        font-weight: 300;
    }
    &__preview {
        flex: 0 0 48%;
    }
    &__preview-photo {
        width: 100%;
        margin-bottom: 10%;
    }
    &__designers {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        padding: 4% 12% 0 12%;
    }
    &__designers-description {
        flex: 0 0 22.5%;
    }
    &__designers-description h4 {
        margin-bottom: 5%;
    }
    &__designers-description p {
        margin-bottom: 5%;
        text-transform: none;
        font-weight: 300;
    }
    &__designer {
        flex: 0 0 23%;
    }
}
.awards {
    &__title {
        font-size: 1.2rem;
        margin-bottom: 5%;
        padding: 2px;
        border-bottom: 1px solid #bfc0b9;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__items p {
        flex: 0 0 35%;
        font-size: 0.9rem;
    }
}
.designer {
    &__photo {
        width: 100%;
        margin-bottom: 4%;
    }
    &__profession {
        margin-bottom: 6%;
        font-size: 0.9rem;
    }
    &__links {
        display: flex;
        justify-content: space-between;
    }
    &__cv {
        align-self: center;
        color: #fd5000;
        transition: 400ms;
    }
    &__cv:hover {
        font-weight: bold;
    }
    &__cv::after {
        display: inline-block;
        content: "🡠";
        margin-left: 10px;
        transition: 400ms;
    }
    &__cv:hover::after {
        transform: rotate(-360deg);
    }
    &__social {
        display: flex;
        flex: 0 0 35%;
        justify-content: space-between;
        column-gap: 16%;
    }
    &__social-icon {
        transition: 200ms;
    }
    &__social-icon:hover {
        transform: scale(1.2);
    }
}
